body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2d3a40;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-player, .playlist {
    background-color: #637077;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
    width: 300px;
    display: none;
}

.music-player.active, .playlist.active {
    display: block;
}

.player-header, .playlist-header {
    display: flex;
    justify-content: flex-start;
}

.menu-icon {
    font-size: 20px;
    color: #444242;
    cursor: pointer;
}

.album-art {
    margin: 20px 0;
}

.album-art img {
    width: 150px;
    border-radius: 50%;
}

.track-info {
    color: #000000;
    margin-bottom: 20px;
    font-weight: bolder;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.controls #playPauseBtn {
    background: #f50;
    border: 1px solid #f50;
    color: #637077;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
}

.controls #prevBtn, #nextBtn {
    background: rgb(36, 35, 34);
    border: 1px solid black;
    color: #637077;
    font-size: larger;
    cursor: pointer;
    border-radius: 50%;
}

.progress-container {
    width: 100%;
}

#progressBar {
    width: 100%;
}

.playlist-header {
    display: flex;
    justify-content: space-between;
}

.track-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #080808;
    padding: 10px 20px;
    border: 1px solid #f50;
    margin-bottom: 5px;
    border-radius: 80px;
    font-weight: bolder;
}

.track-item p {
    margin: 0;
}

.play-track {
    background: none;
    border: none;
    color: #f50;
    font-size: 20px;
    cursor: pointer;
}
#track-list{
    max-height: 300px; /* Set a height limit for the element */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px 0px; 
}

#track-list::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }

  input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
    border-radius: 16px;
  }
  
  /* Track: webkit browsers */
  input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background: rgb(36, 35, 34);
    border-radius: 16px;
  }
  
  /* Track: Mozilla Firefox */
  input[type="range"]::-moz-range-track {
    height: 15px;
    background: rgb(36, 35, 34);
    border-radius: 16px;
  }
  
  /* Thumb: webkit */
  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: #f50;
    border-radius: 50%;
    border: 2px solid #f50;;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px rgb(36, 35, 34);
  }
  
  
  /* Thumb: Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: rgb(36, 35, 34);
    border-radius: 50%;
    border: 1px solid rgb(36, 35, 34);
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px rgb(36, 35, 34);
  }